$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$darkBlue: hsl(220, 13%, 13%);
$darkGrayBlue: hsl(219, 9%, 45%);
$grayBlue: hsl(220, 14%, 75%);
$lightGrayBlue: hsl(223, 64%, 98%);

$fontSizeDefault: 1em;
$fontWeightLight: 400;
$fontWeightHeavy: 700;

$mobile: 375px;
$desktop: 1440px;

$defaultFont: 'Kumbh Sans', sans-serif;


body{
    margin:0;
    padding:0;

    .navigation.shown{
        background-color: rgba($color: #000000, $alpha: 0.75);
        width: 100%;
        height: 200rem;
        margin:0;
        position: absolute;
        z-index: 1;
        .navWrapper {
            width: 15rem;
            height: 100%;
            background-color: white;
            display: flex;
            flex-direction: column;
        }
        .navClose{
            padding: 0 0 0 1rem;
            height: 3em;
            width: 4em;
            margin: 1em 0 0 1em;
            padding: 0;
            display: flex;
            justify-content: left;
            align-items: flex-start;
        }
        .navList{
            margin: 0;
            list-style-type: none;
            padding: 0 0 0 1rem;
            li {
                font-weight: $fontWeightHeavy;
                font-family: $defaultFont;
                margin: 0 0 1em 0;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    .navigation.hidden{
        display: none;
    }
    .cart.hidden{
        display: none;
    }
    .cart.shown{
        width: 20rem;
        height: 16rem;
        background-color: white;
        border-radius: 1rem;
        position: absolute;
        margin: 4em 10% 0 5%;
        .cartWrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .cartHeader{
                height: 4rem;
                width: 100%;
                border-bottom: 0.064rem solid $lightGrayBlue;
                p{
                    font-family: $defaultFont;
                    font-weight: $fontWeightHeavy;
                    font-size: 1em;
                    margin: 1.5rem 0 0 1rem;
                }
            }
            .cartContainer{
                height: 16rem;
                width: 100%;

                .itemPriceQuantity{
                    height: 50%;
                    width: 100%;
                }
                .checkout{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50%;
                    width: 100%;
                    .checkoutButton{
                        width: 80%;
                        height: 50%;
                        border: none;
                        border-radius: .5rem;
                        background-color: $orange;
                        font-family: $defaultFont;
                        font-weight: $fontWeightHeavy;
                        font-size: .8em;
                        color: white;
                    }
                }
            }
        }

    }
    .content{
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;

            #mobileNavButton {
                height: 4em;
                width: 4em;
                border: none;
                background: none;
                div {
                    width: 1em;
                    height: 0.2em;
                    background-color: $darkGrayBlue;
                    margin: 0.2em 0 0 1em;
                }
            }
            .home {
                display: inherit;
                justify-content: center;
                align-items: center;
                margin: 0 0 0.7em 0;
                height: 2em;
                text-decoration: none;
                p {
                    font-family: $defaultFont;
                    font-weight: $fontWeightHeavy;
                    color: black;
                    font-size: 1.8em;
                    margin: 0;
                }
            }
            .headerSpacer{
                width: 45%;
            }
            .cart{
                display: inline-block;
                margin: 0;
            }

            .memberIcon{
                display: inline-block;
                margin: 0 1em 0 1.2em;
                img{
                    height: 1.5em;
                }
            }
        }
        .imageSlider{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                display: inline-block;
            }
        }
    }   

}